<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/addproduct" method="post">
      <table>
        <tr>
          <td>product id :</td>
          <td>
            <input type="number" name="id" id="id" />
          </td>
        </tr>

        <tr>
          <td>product name :</td>
          <td>
            <input type="text" name="name" id="name" />
          </td>
        </tr>

        <tr>
          <td>product qty :</td>
          <td>
            <input type="number" name="qty" id="qty" />
          </td>
        </tr>

        <tr>
          <td>product price :</td>
          <td>
            <input type="text" name="price" id="price" />
          </td>
        </tr>
        <tr>
          <td>
            <button type="submit" name="btn">Add product</button>
          </td>
        </tr>
      </table>
    </form>
  </body>
</html>
